<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <link rel="stylesheet" href="../templates/css/style.css">
      <link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
      <title>Качественное кино</title>
   </head>
   <body>
      <div class="main_container">
         <div class="name">
            <h1 align="center">More tickets</h1>
            <div class="clear"></div>
         </div>
         <div class="interests1">
            <form action="result.php" method="post">
               <select id="selectItem" name="city">
                  {% for city in cities %}
                      <option id="select city">{{ city }}</option>
                  {% endfor %}
               </select>
               <form class="interests1_search_form">
                  <p><input type="search" name="nameOfFilm" placeholder="Поиск по сайту">
                     <input type="submit" name="do_search" value="Найти">
                  </p>
               </form>
            </form>
         </div>
         <div class="interests2">
            <div class="batton">
               <p style="color: white">{{ login }}</p>
               <p>&nbsp;</p>
               <a href="exit_from_accaunt.php" class="button">Выход</a>
            </div>
         </div>
         <div class="clear"></div>
         <div class="film_container">
            <h1>Фильмы</h1>
             {% if isResult == false %}
            <form action="index.php" method="get">
               <input type="submit" name="page_search" value="Далее">
               <select id="selectItem" name="page">
                   {% for page in pages %}
                      <option id="select city">{{ page }}</option>
                   {% endfor %}
               </select>
            </form>
             {% endif %}
            <div class="film_blocks">
                {% for film in films %}
                   <div class="about_film">
                      <h3><a href="results.php?name={{ film.name }}">{{ film.name }}</a></h3>
                      <img class="film" src="{{ film.linkForImage }}" alt="Film1">
                      <p>
                         Год:{{ film.releaseDate }}
                         Жанры:
                          {% for genreF in film.genres %}
                      <p>{{ genreF }}</p>
                       {% endfor %}
                      <br></br>
                      Описание фильма:
                       {{ film.description }}
                      </p>
                   </div>
                {% endfor %}
               <p style="color: green;">{{ message }}</p>
               <a href="index.php" id="submit" style="color: blue">На главное</a>
               <div class="clear"></div>
            </div>
         </div>
         <div class="my_contact">
            <h4>© 2018 "More tickets", Inc</h4>
            <a href=""><img class="contacts" src="../templates/image/vk.png" alt="vk"></a>
            <a href=""><img class="contacts" src="../templates/image/vi.jpg" alt="vi"></a>
            <a href=""><img class="contacts" src="../templates/image/inst.jpg" alt="inst"></a>
         </div>
         <div class="clear"></div>
      </div>
      </div>
   </body>
</html>