<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <link rel="stylesheet" href="../templates/css/style.css">
      <link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
      <title>Сinema site</title>
   </head>
   <body>
      <div class="main_container">
         <div class="name">
            <h1 align="center">More tickets</h1>
            <div class="clear"></div>
         </div>
         <div class="interests1">
            <form action="result.php" method="post">
               <select id="selectItem" name="city">
                   {% for city in cities %}
                      <option id="select city">{{ city }}</option>
                   {% endfor %}
               </select>
               <form class="interests1_search_form">
                  <p><input type="search" name="nameOfFilm" placeholder="Поиск по сайту">
                     <input type="submit" name="do_search" value="Найти">
                  </p>
               </form>
            </form>
         </div>
         <div class="interests2">
            {% if isLogin == false %}
            <div class="batton">
               <a href="enter.html" class="button1">Войти</a>
               <p>&nbsp;</p>
               <a href="registration.html" class="button1">Регистрация</a>
            </div>
            {% endif %}
            {% if isLogin == true %}
               <div class="batton">
                  <p style="color: white">{{ login }}</p>
                  <p>&nbsp;</p>
                  <a href="exit_from_accaunt.php" class="button">Выход</a>
               </div>
            {% endif %}
         </div>
         <div class="clear"></div>
         <div class="film_container">
            <h1>Результаты поиска</h1>
            {% for session in sessions %}
            <div class="film_blocks">
               <div class="about_film">
                  <h3><a href="reservation.php?id={{ session.id }}">{{ session.filmName }}"</a></h3>
                  <img class="film" src="{{  session.linkImage }}" alt="Film1">
                  <p>
                     Город: {{ session.city }}<br></br>
                     Название кинотеатра: {{ session.nameCinema }}<br></br>
                     Адрес кинотеатра: {{ session.addressCinema }}<br></br>
					 Время начала сеанса: {{ session.startTime }}<br></br>
                     Возрастное ограничение: {{ session.ageLimit }}<br></br>
                     Цена: {{ session.price }}<br></br>
                  </p>
               </div>
               <p style="color: green;">{{ message }}</p>
               <a href="index.php" id="submit" style="color: blue">На главное</a>
               <div class="clear"></div>
            </div>
            {% endfor %}
         </div>
         <div class="my_contact">
            <h4>© 2018 "More tickets", Inc</h4>
            <a href=""><img class="contacts" src="../templates/image/vk.png" alt="vk"></a>
            <a href=""><img class="contacts" src="../templates/image/vi.jpg" alt="vi"></a>
            <a href=""><img class="contacts" src="../templates/image/inst.jpg" alt="inst"></a>
         </div>
         <div class="clear"></div>
      </div>
   </body>
</html>