<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="../templates/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
    <title>Сinema site</title>
</head>
<body>
<div class="main_container">
    <div class="name">
        <h1 align="center">More tickets</h1>
        <div class="clear"></div>
    </div>
    <div class="interests1">
        <select id="selectItem">
            {% for city in cities %}
                <option id="select city">{{ city }}</option>
            {% endfor %}
        </select>

        <p><input type="search" name="q" placeholder="Поиск по сайту">
            <input type="submit" value="Найти">
        </p>

    </div>
    <div class="interests2">
        <div class="batton">
            <p style="color: white">{{ login }}</p>
            <p>&nbsp;</p>
            <a href="exit_from_accaunt.php" class="button1">Выход</a>
        </div>
    </div>
    <div class="clear"></div>


    <div  class="cover">
        <form action="update_film.php" id="contactform" method="post" enctype="multipart/form-data">
            <p class="contact"><label for="name">Название фильма</label></p>
            <select id="selectItem" name="selectFilm">
                {% for film in films %}
                    <option id="select city">{{ film.id }} {{ film.name }} Дата релиза: {{ film.releaseDate }} </option>
                {% endfor %}
            </select>
            <br><br>
            <input id="name" name="name" placeholder="Название фильма" required="" tabindex="1" type="text">
            <p class="contact"><label for="date">Дата релиза</label></p>
            <input id="date" name="dateOfRelease" placeholder="ДД.ММ.ГГ" required="" tabindex="2" type="date">

            <p class="contact"><label for="date">Превью фильма</label></p>
            <input type="file" name="image" accept="image/*,image/jpeg">

            <p class="contact"><label for="Subject">Выбор жанра</label></p>
            <select id="selectItem" name="genre1">
                <option id="select city"></option>
                {% for genre in genres %}
                    <option id="select city">{{ genre }}</option>
                {% endfor %}
            </select>

            <select id="selectItem" name="genre2">
                <option id="select city"></option>
                {% for genre in genres %}
                    <option id="select city">{{ genre }}</option>
                {% endfor %}
            </select>

            <select id="selectItem" name="genre3">
                <option id="select city"></option>
                {% for genre in genres %}
                    <option id="select city">{{ genre }}</option>
                {% endfor %}
            </select>

            <select id="selectItem" name="genre4">
                <option id="select city"></option>
                {% for genre in genres %}
                    <option id="select city">{{ genre }}</option>
                {% endfor %}
            </select>

            <p class="contact"><label for="comment">Содержание</label></p>
            <textarea name="description" id="comment" tabindex="4"></textarea> <br>
            <input name="update_film" id="submit" tabindex="5" value="Обновить данные" type="submit">
            <br>
            <a href="index.php" id="submit">На главное</a>
            <p style="color:red">{{ error }}</p>
            <p style="color:green">{{ message }}</p>
        </form>
    </div>
    <div class="clear"></div>
    <div class="my_contact">
        <br></br>
        <br></br>
        <br></br>
        <h4>© 2018 "More tickets", Inc</h4>
        <a href=""><img class="contacts" src="../templates/image/vk.png" alt="vk"></a>
        <a href=""><img class="contacts" src="../templates/image/vi.jpg" alt="vi"></a>
        <a href=""><img class="contacts" src="../templates/image/inst.jpg" alt="inst"></a>
    </div>
    <div class="clear"></div>
</div>
</body>
</html>